# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [36]:
import numpy as np
import pandas as pd
from scipy import stats

import numpy as np
import scipy.stats as st

import numpy as np
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [23]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [27]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
# Your code here:
pokemon[['Total']].describe()

           Total
count  800.00000
mean   435.10250
std    119.96304
min    180.00000
25%    330.00000
50%    450.00000
75%    515.00000
max    780.00000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
legendary = pokemon["Total"] [pokemon["Legendary"] == True]
not_legendary = pokemon["Total"] [pokemon["Legendary"] == False]

In [14]:
t2, p2 = stats.ttest_ind(legendary,not_legendary,equal_var=False)
print("t = " + str(t2))
print("p = " + str(p2))

t = 25.8335743895517
p = 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

**H0: las estadísticas son iguales.**

**Pero, como p es un número tan pequeño tenemos que rechazar la hipótesis nula al no poder afirmar que sean iguales.
Los legendarios son más altos que los no legendarios.**

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [15]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
water = pokemon[pokemon["Type 1"] == "Water"] 

water_mean = water.Total.mean()
water_std = water.Total.std()

other = pokemon[pokemon["Type 1"] != "Water"] 

other_mean = other.Total.mean()
other_std = other.Total.std()

print("Water pokemon:", water_mean, water_std)


print("Non water pokemon:",other_mean, other_std)

Water pokemon: 430.45535714285717 113.1882660643146
Non water pokemon: 435.85901162790697 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
water_total = water.Total
other_total = other.Total

t3, p3 = st.ttest_ind(water_total,other_total,equal_var=True)
print("t = " + str(t3))
print("p = " + str(p3))

t = -0.4418547448849676
p = 0.6587140317488793

Write your conclusion below.

**Al ser p mayor que 0,05 no podemos rechazar la Ho (que ambas muestras provengan de la misma población).**

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
st.ttest_rel(pokemon.Attack,pokemon.Defense,axis=0)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

**Al ser muy bajo el valor de p, debemos rechazar la Ho al no poder decir que los valores de attack y defense sean iguales.**

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [31]:
t4, p4 = st.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])
print("t = " + str(t4))
print("p = " + str(p4))

t = 0.853986188453353
p = 0.3933685997548122

Describe the results of the test in the cell below.

**No podemos rechazar la Ho ya que el valor de p es alto. Por tanto, no podemos rechazar que la media de special attack y special defense sean iguales.**

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [33]:
st.ttest_1samp(pokemon.Attack-pokemon.Defense, 0) 

#Como podemos comprobar, los valores son los mismos al hacerlo de este modo.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [34]:
crosstab = pd.crosstab(pokemon.Legendary ,[pokemon["Type 1"] == "Water"])
crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [39]:
chi2, p, dof, ex = chi2_contingency(crosstab)
chi2, p

(2.9429200762850503, 0.08625467249550949)

Based on a 95% confidence, should we reject the null hypothesis?

**No podemos rechazar la Ho (que los pokémon de agua y los pokémon legendarios pertenecen a la misma población). No podemos asegurar que el ser un pokémon de agua esté relacionado (o no) con ser un pokémon legendario.**