# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
pokemon.groupby('Legendary').Total.agg([np.mean, np.std])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:
from scipy.stats import ttest_ind

lendary_points = pokemon[pokemon.Legendary == True].Total
non_legendary_points = pokemon[pokemon.Legendary == False].Total

_, p = ttest_ind(lendary_points, non_legendary_points, equal_var = False)

p

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

**Answer**: p is lower than 0.05 therefore we can reject the null assumption that both groups are the same. I.e. groups are significantly different in terms of Points

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [15]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [17]:
# Your code here:
pokemon['water']= np.where(pokemon['Type 1'] == 'Water', True, False)
pokemon.groupby('water').Total.agg([np.mean, np.std])

             mean         std
water
False  435.859012  121.091682
True   430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [18]:
# Your code here:

water_points = pokemon[pokemon.water == True].Total
non_water_points = pokemon[pokemon.water == False].Total

_, p = ttest_ind(water_points, non_water_points, equal_var = True)

p

0.6587140317488793

Write your conclusion below.

**Answer**: P is higher than 0.05 therefore we can say  that we cannot reject the null hypothesis of both groups being equal. I.e., both groups are equal in terms of mean of points

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [19]:
# Your code here:
from scipy.stats import ttest_rel

Describe the results of the test in the cell below.

In [21]:
# Your conclusions here:

attack = pokemon.Attack
defense = pokemon.Defense


_, p = ttest_rel(attack, defense)

p

1.7140303479358558e-05

**Answer**: There is significant difference between Attack and Defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [22]:
# Your code here:

attack_sp = pokemon['Sp. Atk']
defense_sp = pokemon['Sp. Def']


_, p = ttest_rel(attack_sp, defense_sp)

p

0.3933685997548122

Describe the results of the test in the cell below.

**answer**:
There is NO significant difference between special Attack and special Defense

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [24]:
# Your code here:
from scipy.stats import ttest_1samp

_, p = ttest_1samp(attack - defense, 0)

p

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [28]:
# Your code here:
a = pd.crosstab(pokemon.Legendary, pokemon.water)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [31]:
# Your code here:
from scipy.stats import chi2_contingency

chi2, p, dof, ex = chi2_contingency(a)

p

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [32]:
a

water      False  True
Legendary
False        627    108
True          61      4

p is higher than 0.05 therefore it seems the initial hypothesis cannot be rejected. The hypothesis according to documentaiton is that they are independent. therefore, it seems they are independent. But also documentation says minimum frequqncy should be 5 "An often quoted guideline for the validity of this calculation is that
the test should be used only if the observed and expected frequencies
in each cell are at least 5."

So we can conclude this test is not valid to determine if they are independant or not