# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
conn = MongoClient("localhost:27017")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
# Your Code
db = conn.get_database("ironhack")
collection = db.get_collection("Crunchbase")
name_companies=collection.find({'name': 'Babelgum'}, {"name": 1, "_id": 0})

In [4]:
# Your Code
list_companies = list(name_companies)
list_companies

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
# Your Code
compani_more_employees = collection.find({'number_of_employees': {'$gt':5000}}).sort('number_of_employees', 1).limit(20)

In [6]:
# Your Code
compani_more_employees = list (compani_more_employees)
len(compani_more_employees)

20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
# Your Code
compani_founded = collection.find({"$and":[{'founded_year': {'$gte':2000}}, {'founded_year': {'$lte':2005}}]}, {'name': 1, '_id': 0, 'founded_year':1})
len(list(compani_founded))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [10]:
# Your Code
e4 = collection.find({"$and": [{"ipo.valuation_amount": {"$gt": 100000000}},{"founded_year": {"$lt": 2010}}]},{"name":1, "ipo":1, "_id": 0})
len(list(e4))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [11]:
# Your Code
e5 = collection.find({"$and":[{'founded_year': {'$lt':2005}}, {'number_of_employees': {'$lte':1000}}]}).sort('number_of_employees', -1).limit(10)
len(list(e5))

10

### 6. All the companies that don't include the `partners` field.

In [12]:
# Your Code
e6 = collection.find({'partners' : {"$exists": False}})
len(list(e6))

0

### 7. All the companies whose name contains the substring "hola"

In [13]:
# Your Code
e7 = collection.find({'name' : {"$regex": ".*\hola.*"} })
list(e7)

[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [30]:
# Your Code
e8 = collection.find({"$and":[{'number_of_employees': {'$gt':100}}, {'number_of_employees': {'$lt':1000}}]}, {'name':1, 'number_of_employees':1, '_id':0})
len(list(e8))

753

### 9. Order all the companies by their IPO price in a descending order.

In [33]:
# Your Code
e9 = collection.find({}).sort("ipo.valuation_amount", -1).limit(10)
len(list(e9))

10

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [32]:
# Your Code
e10 = collection.find({}).sort("number_of_employees", -1).limit(10)
len(list(e10))

10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [17]:
# Your Code
e11 = collection.find({'$and':[{'founded_month' : {'$gt': 6}}, {'founded_month' : {'$lte': 12}}]}).limit(1000)
len(list(e11))

1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [27]:
# Your Code
e12 = collection.find({'$and':[{'founded_year' : {'$lt': 2000}}, {"acquisition.price_amount":{'$gt': 10000000}}]})
len(list(e12))

205

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [19]:
# Your Code
e13 = collection.find({"acquisition.acquired_year": {'$gt':2010}}, {'name':1, 'acquisition':1, '_id':0 }).sort('acquisition.price_amount', -1)
len(list(e13))

736

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [20]:
# Your Code
e14 = collection.find({}, {'name': 1, '_id': 0, 'founded_year':1})
len(list(e14))

18801

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [21]:
# Your Code
e15 = collection.find({'$and':[{'founded_day' : {'$gte': 1}}, {'founded_day' : {'$lte': 7}}]}).sort('acquisition.price_amount', -1).limit(10)
len(list(e15))

10

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [22]:
# Your Code
e16 = collection.find({'$and':[{'category_code':'web'}, {'number_of_employees': {'$gt':4000}}]}).sort('number_of_employees', 1)
len(list(e16))

9

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [23]:
# Your Code
e17 = collection.find({'$and':[{"acquisition.price_currency_code":'EUR'}, {'acquisition.price_amount': {'$gt':10000000}}]})
len(list(e17))

7

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [24]:
# Your Code
e18 = collection.find({'$and':[{"acquisition.acquired_month" : {'$gt': 1}}, {"acquisition.acquired_month" : {'$lte': 3}}]}, {'name':1, 'acquisition':1, '_id':0}).limit(10)
len(list(e18))

10

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [25]:
# Your Code
e19 = collection.find({"$and":[{'founded_year': {'$gt':2000}}, {'founded_year': {'$lt':2010}}, {"acquisition.acquired_year":{'$gt':2011}}]})
len(list(e19))

254

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code