# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [108]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [109]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [110]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [126]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [111]:
# Your code here:
for column in salaries:
    print(column, salaries[column].isnull().sum())

Name 0
Job Titles 0
Department 0
Full or Part-Time 0
Salary or Hourly 0
Typical Hours 25161
Annual Salary 8022
Hourly Rate 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [112]:
# Your code here:
divide_workers = salaries['Salary or Hourly'].value_counts()

salary = divide_workers[0]
hourly = divide_workers[1]
print(salary, hourly)

25161 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [113]:
# Your code here:
departments = salaries["Department"].unique()
workers_per_dep = salaries.groupby('Department').Name.count()
workers_per_dep

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [114]:
# Your code here:
from scipy.stats import ttest_1samp
mean = 30
hourly_rates = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
p_value = ttest_1samp(hourly_rates, mean)[1]
conf_level = 0.05
if p_value < conf_level:  
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

The null hypothesis can be rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [115]:
# Your code here:
yearly_mean = 86000
yearly_salaries = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()
t_stat, p_value = ttest_1samp(yearly_salaries, yearly_mean)
conf_level = 0.025


if p_value < conf_level and t_stat > 0:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

The null hypothesis can be rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [116]:
# Your code here:
get_workers = pd.crosstab(salaries["Department"], salaries['Salary or Hourly']).sort_values('Hourly', ascending = False).head(1)
get_workers

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [117]:
# Your code here:
hourly_mean = 35
#filter hourly workers
hourly_at_streets_san =  salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries.Department == 'STREETS & SAN')]
#Get only their salaries
salaries_at_streets_san = hourly_at_streets_san["Hourly Rate"]

#Perform test
conf_level = 0.05
hourly_mean = 35
t_stat, p_value = ttest_1samp(salaries_at_streets_san, hourly_mean)
print(t_stat, p_value)
if p_value < conf_level:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

-9.567447887848152 3.3378530564707717e-21
The null hypothesis can be rejected

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [119]:
# Your code here:
conf = 0.95
deg_of_freedom = len(salaries_at_streets_san) - 1
mean = salaries_at_streets_san.mean()
scale =  scipy.stats.sem(salaries_at_streets_san)
conf_interval = scipy.stats.t.interval(conf, deg_of_freedom, mean, scale)
print(conf_interval)

(33.46770719766768, 33.98904897848601)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [120]:
# Your code here:
#yearly_salaries = variable name for police salaries
conf = 0.95
deg_of_freedom = len(yearly_salaries) - 1
mean = yearly_salaries.mean()
scale =  scipy.stats.sem(yearly_salaries)
conf_interval = scipy.stats.t.interval(conf, deg_of_freedom, mean, scale)
print(conf_interval)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [132]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [133]:
#hourly_rates = variable name for hourly workers
all_hourly = len(hourly_rates)
all_hourly

8022

In [134]:
all_records = len(salaries["Name"])
all_records

33183

In [139]:
#perform prop test
significane = 0.25
conf_level = 0.95
p_val = proportions_ztest(all_hourly, all_records, significane)[1]
p_val

0.0004481127249057967

In [140]:
if p_val < conf_level:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

The null hypothesis can be rejected