## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
# Your code here
#Generate 80 random numbers between 1 and 100
sample_list_1 = random.sample(range(1, 100), 80)
print(sample_list_1)

[6, 66, 44, 1, 87, 83, 94, 34, 86, 19, 16, 5, 47, 93, 35, 11, 78, 91, 27, 92, 14, 12, 88, 56, 70, 39, 84, 45, 49, 8, 23, 58, 50, 74, 18, 24, 13, 36, 67, 71, 75, 99, 48, 89, 9, 52, 41, 42, 80, 95, 4, 57, 46, 77, 38, 28, 55, 29, 90, 73, 7, 79, 69, 60, 62, 64, 97, 59, 54, 82, 68, 3, 43, 20, 2, 51, 17, 15, 37, 65]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print(set1)

80
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 27, 28, 29, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [49]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randrange(1, 80, 1))
print(sample_list_2)
print(len(sample_list_2))

[50, 3, 60, 1, 66, 50, 12, 49, 15, 57, 19, 57, 7, 72, 14, 8, 71, 64, 14, 67, 38, 66, 21, 73, 64, 50, 39, 62, 73, 55, 12, 33, 73, 40, 47, 16, 28, 29, 7, 74, 78, 27, 71, 57, 21, 72, 37, 1, 39, 27, 10, 52, 52, 68, 9, 79, 17, 57, 31, 62, 20, 13, 26, 46, 6, 43, 50, 37, 29, 71, 56, 56, 74, 48, 10, 51, 26, 39, 41, 72]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [50]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [118]:
# Your code here
set3 = set1 - set2
print(set3)

{2, 4, 5, 18, 23, 24, 34, 35, 36, 42, 44, 45, 54, 58, 65, 70, 75, 77, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here
set4 = set2 - set1
print(set4)

{33, 40, 72, 10, 21, 26, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [70]:
# Your code here
set5 = set1 & set2
print(set5)

{1, 3, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 27, 28, 29, 37, 38, 39, 41, 43, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 60, 62, 64, 66, 67, 68, 71, 73, 74, 78, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [71]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))

80 50 37 7 43

#### Create an empty set called `set6`.

In [75]:
# Your code here
set6 = {}
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [90]:
# Your code here

set6.update(set3 & set5)
print(set6)

{2, 4, 5, 11, 18, 23, 24, 34, 35, 36, 42, 44, 45, 54, 58, 59, 65, 69, 70, 75, 77, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [91]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [92]:
# Your code here
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [96]:
# Your code here
print(set3| set4|set5|set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [98]:
# Your code here
print(set1.pop())

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [116]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for elem in list_to_remove:
    if elem in set1:
        set1.remove(elem) 
print (set1)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 27, 28, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 97}