## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
# Your code here
#sample_list_1 = (range(80))
#print(sample_list_1)

sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[57, 96, 79, 76, 59, 17, 95, 68, 51, 56, 99, 77, 27, 45, 10, 39, 30, 14, 8, 43, 60, 64, 82, 84, 67, 70, 53, 28, 78, 35, 3, 32, 26, 40, 71, 91, 80, 75, 58, 74, 54, 18, 69, 97, 93, 62, 2, 21, 29, 1, 85, 33, 47, 46, 52, 15, 44, 94, 41, 87, 65, 23, 31, 16, 42, 63, 12, 98, 61, 34, 4, 22, 24, 48, 38, 36, 73, 66, 20, 11]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

print(len(sample_list_1))

80
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
# Your code here
sample_list_2 = [random.randint(1, 80) for _ in range(80)]
print(sample_list_2)

[30, 51, 23, 19, 75, 47, 70, 71, 29, 31, 35, 2, 46, 3, 68, 20, 72, 30, 9, 26, 78, 37, 76, 79, 57, 49, 70, 15, 50, 46, 73, 11, 60, 34, 58, 27, 32, 77, 80, 77, 33, 80, 27, 68, 54, 70, 13, 21, 80, 36, 57, 19, 56, 7, 50, 52, 37, 47, 31, 56, 39, 69, 76, 24, 5, 74, 9, 36, 13, 59, 58, 63, 54, 46, 74, 70, 16, 16, 3, 23]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

print(len(sample_list_2))

# NO, su length ahora no es la misma porque hay valores repetidos, NO SON VALORES UNICOS. 
# Â¿no?

52
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [24]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 4, 8, 10, 12, 14, 17, 18, 22, 28, 38, 40, 41, 42, 43, 44, 45, 48, 53, 61, 62, 64, 65, 66, 67, 82, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98, 99}

In [25]:
# OTRA MANERA DE HACERLO

set3 = set1.difference(set2)
print(set3)

{1, 4, 8, 10, 12, 14, 17, 18, 22, 28, 38, 40, 41, 42, 43, 44, 45, 48, 53, 61, 62, 64, 65, 66, 67, 82, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{5, 37, 7, 72, 9, 13, 49, 50, 19}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 3, 11, 15, 16, 20, 21, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 39, 46, 47, 51, 52, 54, 56, 57, 58, 59, 60, 63, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80}

In [31]:
# OTRA MANERA DE HCAERLOOOO!!!

set5 = set1 & set2
print(set5)

{2, 3, 11, 15, 16, 20, 21, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 39, 46, 47, 51, 52, 54, 56, 57, 58, 59, 60, 63, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here
# Preguntar que funcion utilizar

#### Create an empty set called `set6`.

In [33]:
# Your code here
set6 = {}
print(set6)

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
# Your code here
set6 = set3.union(set5)
print(set6)

{1, 2, 3, 4, 8, 10, 11, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here
if set1 == set6:
    print("both sets are equal")

both sets are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
set2.issubset(set1)

False

In [50]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [57]:
# Your code here
set7 = set3.union(set4, set5)
print("set7=", set7)

set8 = set1.union(set2)
print("set8=", set8)

if set7 == set8:
    print("Sets are equal")

set7= {1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98, 99}
set8= {1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98, 99}
Sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here
# lo he hecho muchas veces por eso creo que la he cagado porque cada vez que daba a run me aparecia un num diferente
set1.pop()

30

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [93]:
# Your code here
set_to_remove = set(list_to_remove)

set10 = set1.discard(set_to_remove)
print(set10)

None