# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [90]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
percent_missing = salaries.isnull().sum() * 100 / len(salaries)
percent_missing

Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:
salaries.value_counts(["Salary or Hourly"])

Salary or Hourly
Salary              25161
Hourly               8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [20]:
# Your code here:
salaries.groupby('Department').Name.count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [34]:
# Your code here:
from scipy.stats import ttest_1samp

a =salaries[(salaries["Hourly Rate"].notnull())]["Hourly Rate"]
b = 30


_, p = ttest_1samp(a, b)

if p < 0.5: 
    print("The null hypothesis can be rejected -->  the hourly salary of all hourly workers is significantly different from $30 per hour")
else:
    print("The null hypothesis cannot be rejected -->  the hourly salary of all hourly workers is similar to $30 per hour")

The null hypothesis can be rejected -->  the hourly salary of all hourly workers is significantly different from $30 per hour

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [84]:
# Your code here:
police =salaries[(salaries["Department"] == "POLICE")]

police_salaries= police[(police["Annual Salary"].notnull())]["Annual Salary"]
b = 86000
_,p = ttest_1samp(police_salaries, b)

if p < 0.05/2 and _ > 0:
    print("The null hypothesis can be rejected --> this year's salaries are higher than last year's average of $86,000 per year for all salaried employees")
else:
    print("The null hypothesis cannot be rejected --> this year's salaries are no higher than last year's average of $86,000 per year for all salaried employees")

The null hypothesis can be rejected --> this year's salaries are higher than last year's average of $86,000 per year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [47]:
# Your code here:
pd.crosstab(salaries["Department"], salaries['Salary or Hourly']).sort_values(ascending = False , by =["Hourly"]).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [50]:
# Your code here:
salaries_hourly = salaries[(salaries.Department == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate']
b = 35
t, p = ttest_1samp(salaries_hourly, b)
if p < 0.05/2 and t < 0:
    print("The null hypothesis can be rejected --> their hourly wages are below 35")
else:
    print("The null hypothesis cannot be rejected --> their hourly wages are not that low")

The null hypothesis can be rejected --> their hourly wages are below 35

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [81]:
# Your code here:
from scipy import stats
salaries =salaries[(salaries["Hourly Rate"].notnull())]["Hourly Rate"]

confidence_interval = 0.95
degrees_of_freedom=len(salaries)-1
error = stats.sem(salaries)
loc = salaries.mean()

stats.t.interval(confidence_interval, degrees_of_freedom,loc, error)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [86]:
# Your code here:
from scipy import stats

confidence_interval = 0.95
degrees_of_freedom=len(police_salaries)-1
error = stats.sem(police_salaries)
loc = police_salaries.mean()

stats.t.interval(confidence_interval, degrees_of_freedom,loc, error)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [89]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

count = np.array([25, 95])
nobs = np.array([83, 99])
stat, pval = proportions_ztest(count, nobs)

if p < 0.05: 
    print("The null hypothesis can be rejected --> hourly workers are different than 25%")
else:
    print("The null hypothesis cannot be rejected --> hourly workers are not different than 25%")

The null hypothesis can be rejected --> hourly workers are different than 25%