# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [13]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [14]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [15]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [16]:
# Podemos ver la suma de todos los valores NAN que hay en nuestro df por columnas
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [17]:
# Your code here:

salaries.groupby("Salary or Hourly").count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# El ".count()" te sirve para sacar el nº total
# El ".value_counts()" te separa la suma que hay por departamento
(salaries['Department'].value_counts())

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# preguntar este!! mazo lio!!

from scipy.stats import binom_test
p_value = binom_test(salaries["Hourly Rate"], x=30, n=250, p=0.95, alternative='greater')

#print('The probability (p_value) of finding a result as extreme (140 vs 110) '
     # f'with a fair coing is: {np.round(p_value, 3)}')

TypeError: binom_test() got multiple values for argument 'x'

In [46]:
# He intentado pasar todos los valores nan a cero para que luego no me diera error al hacer el test pero me sigue dando error...

salaries_2 = salaries.fillna(0)

In [51]:
from scipy.stats import ttest_ind 
ttest_ind(salaries["Hourly Rate"], 30, nan_policy='omit')

Ttest_indResult(statistic=masked, pvalue=masked_array(data=--,
             mask=True,
       fill_value=1e+20,
            dtype=float64))

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [9]:
# solo cogemos los valores que no son nullos porque sino el jupyter peta y no funciona!!!
# (number_of_rows - 1) se refiere a el numero de las filas (el lenght ) y luego menos 1, NO SOLAMENTE EL NUMBER OF ROWS
# he sacado la formula para el error del siguiente link "https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html"

from scipy.stats  import  t
from scipy import stats
salaries =salaries[(salaries["Hourly Rate"].notnull())]["Hourly Rate"] 

confidence_interval = 0.95
degrees = len(salaries) - 1
mean = salaries.mean()
standard_error = stats.sem(salaries)

stats.t.interval(confidence_interval, degrees, mean, standard_error)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [19]:
# Sacamos los salrios de solamente los policies y seguimos la misma estructura que antes 

policies_salary = salaries['Annual Salary'][salaries['Department']== 'POLICE'][salaries['Salary or Hourly']=='Salary']

confidence_interval = 0.95
degrees = len(policies_salary) - 1
mean = policies_salary.mean()
standard_error = stats.sem(policies_salary)

stats.t.interval(confidence_interval, degrees, mean, standard_error)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [30]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\leticia\documents\miniconda3\lib\site-packages (0.12.1)
Requirement already satisfied: pandas>=0.21 in c:\users\leticia\documents\miniconda3\lib\site-packages (from statsmodels) (1.1.3)
Requirement already satisfied: numpy>=1.15 in c:\users\leticia\documents\miniconda3\lib\site-packages (from statsmodels) (1.19.2)
Requirement already satisfied: scipy>=1.1 in c:\users\leticia\documents\miniconda3\lib\site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5 in c:\users\leticia\documents\miniconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\leticia\documents\miniconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\leticia\documents\miniconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2020.1)
Requirement already satisfied: six in c:\users\leticia\documents\miniconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.14.0)

In [40]:
# count = donde metes el intervalo de confidencia
# nobs = el número de ensayos u observaciones, con la misma duración que el recuento (por lo que he visto en varios ejemplos siempre en 83 y 99)

from statsmodels.stats.proportion import proportions_ztest

count = np.array([25, 95])
nobs = np.array([83, 99])
stat, pval = proportions_ztest(count, nobs)

print('{0:0.3f}'.format(pval))
pval

'''
Es un numero tan pequeño que al pasarlo al formato que es debido no se ven los nº de decimales que le corresponden porque esta elevando a e20
Podemos decir por tanto que se los trabajadores no se encuentran en el intervalo de confianza y por lo tanto 
son bastane mas diferentes del 25% al nivel de confianza del 95%.
'''

0.000

1.0149399130424047e-20