# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [2]:
db = client.get_database("ironhack")

In [3]:
collection = db.get_collection("companies")

In [4]:
import pandas as pd

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
names = collection.find({"name": "Babelgum"})

In [6]:
top_rated = list(names)

In [7]:
len(top_rated)

1

In [8]:
names = collection.find({"name": "Babelgum"})

In [9]:
df = pd.DataFrame(names)
df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,None,...,[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [10]:
c = collection

In [45]:
c.find({"number_of_employees": {"$gt": 500}}).sort("number_of_employees",1).limit(5)

In [46]:
df = pd.DataFrame(_)
df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd675299470,Xero,xero,http://www.crunchbase.com/company/xero,http://xero.com,http://blog.xero.com,http://feeds.feedburner.com/xerolive/,Xero,software,507,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,"[{'embed_code': '<iframe width=""450"" height=""2...",[],[],[]
1,52cdef7e4bab8bd67529a988,Central Reservations,central-reservations,http://www.crunchbase.com/company/central-rese...,http://www.centralreservations.com,http://www.centralreservations.com/central_res...,http://www.centralreservations.com/feed/rss/,,web,510,...,[],None,[],"[{'description': '', 'address1': '93 Upper Geo...","[{'id': 1526, 'description': 'CentralReservati...",None,[],"[{'available_sizes': [[[150, 53], 'assets/imag...",[{'external_url': 'http://www.iia.ie/centralre...,[]
2,52cdef7e4bab8bd67529bb9d,Veeva,veeva,http://www.crunchbase.com/company/veeva,http://www.veeva.com,http://veeva.com/veeva-blog/,,veevasystems,software,510,...,[],None,[],"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 27492, 'description': 'Veeva Launches ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 130], 'assets/ima...",[{'external_url': 'http://www.veevasystems.com...,[]
3,52cdef7e4bab8bd67529b962,Markafoni,markafoni,http://www.crunchbase.com/company/markafoni,http://www.markafoni.com,http://blog.markafoni.com,,markafoni,ecommerce,520,...,[],"{'price_amount': None, 'price_currency_code': ...",[],"[{'description': 'HQ Istanbul', 'address1': 'E...","[{'id': 4629, 'description': 'Announced Sina A...",None,[],"[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
4,52cdef7e4bab8bd67529b340,TaskUs,taskus,http://www.crunchbase.com/company/taskus,http://taskus.com,http://taskus.com/blog,http://taskus.com/blog,taskus,enterprise,540,...,[],None,[],"[{'description': 'Santa Monica Office', 'addre...","[{'id': 39351, 'description': 'TaskUs Named To...",None,[],"[{'available_sizes': [[[150, 99], 'assets/imag...",[],[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [13]:
c.find({"founded_year":{"$gte": 2000, "$lte": 2005}},{"name":1,"founded_year":1,"_id":0}).limit(10)

In [14]:
df = pd.DataFrame(_)
df

          name  founded_year
0     Wetpaint          2005
1         Zoho          2005
2         Digg          2004
3     Facebook          2004
4    Omnidrive          2005
5  StumbleUpon          2002
6       Gizmoz          2003
7        Helio          2005
8        Plaxo          2002
9   Technorati          2002

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [15]:
collection.find_one({}).keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [ ]:
# No encuentro "Valuation Amount" ni "ipo", he mirado en las keys pero no aparece nada.

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [16]:
c.find({"founded_year":{"$gt": 2005}}, {"number_of_employees":{"$lt": 1000}}).sort("number_of_employees",1).skip(1).limit(10)

In [17]:
{friends:{$slice:-1}

SyntaxError: invalid syntax (<ipython-input-17-73353f7deac5>, line 1)

In [18]:
df = pd.DataFrame(_)
df

OperationFailure: Expression $lt takes exactly 2 arguments. 1 were passed in., full error: {'ok': 0.0, 'errmsg': 'Expression $lt takes exactly 2 arguments. 1 were passed in.', 'code': 16020, 'codeName': 'Location16020'}

# 6. All the companies that don't include the `partners` field.

In [47]:
c.find({"partners": {"$exists": False}}).limit(5)

In [48]:
df = pd.DataFrame(_)
df

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [57]:
c.find({"number_of_employees":{"$gte": 1000, "$lt": 1000}},{"name":1,"number_of_employees":1,"_id":0}).limit(10)

In [58]:
df = pd.DataFrame(_)
df

Empty DataFrame
Columns: []
Index: []

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# No encuentro en las keys el IPO

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [63]:
c.find({"founded_year":{"$gte": "2019-06-01", "$lte": "2019-12-31"}}).limit(10)

In [62]:
df = pd.DataFrame(_)
df

Empty DataFrame
Columns: []
Index: []

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [70]:
c.find({"founded_year":{"$gte": 2000}},{"adquisition":{"$gt": 10000}}).limit(10)

In [71]:
df = pd.DataFrame(_)
df

OperationFailure: Expression $gt takes exactly 2 arguments. 1 were passed in., full error: {'ok': 0.0, 'errmsg': 'Expression $gt takes exactly 2 arguments. 1 were passed in.', 'code': 16020, 'codeName': 'Location16020'}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code